<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0px;
            padding-inline-start: 0px;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container{
            height: auto;
            width: auto;
            background-color: #1b1b1b;
            border-radius: 10px;
            padding: 10px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <p>username : <%= user %></p>
        <p>password : <%= pass %></p>
    </div>
    <% if (ev == false && link != null) { %>
        <a id="evl">verify email</a>
        <script>
            document.getElementById("evl").setAttribute("href","<%= link %>")
        </script>
    <% } %>
</body>
</html>